* { margin:0; padding:0; box-sizing:border-box; }

.container {
  background-color:rgb(21, 32, 43);
  display: flex;
  flex-direction: row;
  height: 900px;
  width: 100%;
}

.left {
  background-color: rgb(113, 201, 248);
  background-image: url('https://dwilliamzero.com/zero-cloud/bitter-logo.png');
  background-repeat: no-repeat;
  background-size: 1050px;
  margin: 0;
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color:rgb(21, 32, 43);
  color: #8899A6;
  width: 50%;
  padding: 15px;
}
.sign-up {
  color: white;
  margin: 25% 25%;
  width: 50%;
}

img#small-logo-1 {
  margin-bottom: 20px;
  width: 50px;
}

.join-today {
  margin: 20px 0;
}

button#signup_modal {
  background-color: rgb(113, 201, 248);
  color: white;
  border: none;
  margin: 10px 0;
  width: 100%;
}

button#signup_modal:hover {
  background-color: #8899A6;
}

.signup-modal-on {
  display: grid;
  position: fixed;
  left: 35%;
  top: 5%;
  /* border: 2px solid #8899A6; */
  border-radius: 15px;
  background-color: rgb(21, 32, 43);
  box-shadow: 5px 5px 8px black;
  height: 500px;
  margin: 200px auto;
  width: 30%;
  z-index: 2;
}

.signup-modal-off {
display: none
}

img#small-logo-2 {
  margin: 20px auto;
  width: 70px;
}

.signup-form-text {
  margin: 10px auto;
  width: 80%;
}
.input-text {
  font-size: 30px;
  background: rgb(21, 32, 63);
  border: none;
  border-bottom: 3px solid #8899A6;
  box-sizing: border-box;
  color: white;
  outline: none;
  margin:10px auto;
  width: 80%;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

button#new-account-btn {
  background-color: rgb(113, 201, 248);
  color: white;
  border: none;
  margin: 30px auto;
  width: 80%;
}

button#new-account-btn:hover {
  background-color: #8899A6;
}

.login {
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(21, 32, 43);
  color: #8899A6;
  height: 71px;
}

.footer p {
  margin: 0px;
  padding-top: 30px;
}
input {
  margin: 10px;
}

input.username {
  font-size: 20px;
  background-color: rgb(21, 32, 63);
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #8899A6;
  color:white;
  outline: none;
  padding: 5px;

}

input.password {
  font-size: 20px;
  background-color: rgb(21, 32, 63);
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #8899A6;
  color: white;
  outline: none;
  padding: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8899A6;
}

.password:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(29, 161, 242);
}

.username:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(29, 161, 242);
}

.input-text:focus {
  border-bottom: 3px solid rgb(29,161,242);
}

input.username:focus {
  border-bottom: 3px solid rgb(29,161,242);
}

input.password:focus {
  border-bottom: 3px solid rgb(29,161,242);
}


button {
  border-radius: 50px;
  border: 2px solid rgb(29, 161, 242);
  background-color: rgb(21, 32, 43);
  font-size: 20px;
  padding: 10px;
  color: rgb(29, 161, 242);
  outline: none;
}

button:hover {
  background-color: rgb(21, 32, 63);
}

.feed-page {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 20px;
  width: 100%;
}

.feed-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

img#avatar {
  width: 125px;
  height: 125px;
  object-fit: contain;
  border: 5px solid black;
  border-radius: 50%;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 0;
}

.follow-count {
  color: rgb(29,161,242);
  margin: 10px;
}

.my-account {
  margin:10px;
  color: rgb(29,161,242);
  text-decoration: underline;
}

.new-post-btn {
  margin: 25px;
}

.feed-card {
  border-left: 1px solid #8899A6;
  border-right: 1px solid #8899A6;
  height: 970px;
  width: 50%;
  overflow: auto;  /* This should allow scrolling of overflow only.. */
}

.feed-card-title {
  border-bottom: 1px solid #8899A6;
  height: 70px;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.overlay-on {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.7); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay-off {
  display: none; /* Hidden by default */
}

.new-post-modal-on {
  display: grid;
  position: fixed;
  left: 35%;
  top: 5%;
  /* border: 2px solid #8899A6; */
  border-radius: 15px;
  background-color: rgb(21, 32, 63);
  box-shadow: 5px 5px 8px black;
  height: 300px;
  margin: 200px auto;
  width: 30%;
  z-index: 2;
}

.new-post-modal-off {
display: none
}

.close {
  color: #8899A6;
  font-size: 20px;
  position: relative;
  left: 92%;
  top: 3%;
}

.close:hover {
  color: white;
  cursor: pointer;
}

textarea {
  background-color: rgb(21, 32, 63);
  border:  black;
  color: white;
  font-size: 20px;
  resize: none;
  outline: none;
  margin: 20px;
}

.modal-btn {
  margin: 10px 20px;
}

.img-uploader {
  font-size: 17px;
  color: rgb(29, 161, 242);
}

.feed-card-right {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.logout {
  display: flex;
  justify-content: center;
  margin: 50px;
  }